.font{
    font-size: 20px;
}

.profileImg img {
    width: 8%;
    border-radius: 50%;
    margin: 0px;
    margin-top: 2px;
    float: right;
}

img {
    vertical-align: middle;
    border-style: none;
}

.toolbar{
    width: 100%;
}

.profile{
   width: 0%;
}